<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />

<link href="/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet" />
<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet">

<script src = "/js/dialogConfig.js" th:src = "@{/js/dialogConfig.js}"></script>
<script src = "http://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> 
<script>

$(() => {
	$('#buyBtn').on('click' ,function(){
		var destinationId = $('input:radio[name="destinationId"]:checked').val();
		settlement(destinationId);
	});
});

</script>

<title>山葵Curry | 決済画面</title>
</head>
<body>

<header th:insert="fragments/page_header::pageHeader"></header>

<main>

	<div class="container cart">
		
			<p class="info" th:if="${destinations == null || destinations.size() == 0}">宛先情報がありません。新規登録してください</p>
		
		<div th:if = "${destinations != null && destinations.size() != 0}">
			<h2>宛先を選択し、決済を完了します。</h2>
			<p class="info">宛先の新規登録、削除も可能です。</p>
		</div>
		<table class="destination">
		<thead>
			<tr>
				<th>選択</th><th>宛先氏名</th><th>住所</th><th>電話番号</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="destination, st: ${destinations}">
			
				<td><input type="radio" name="id" th:checked="${st.index==0}" th:value="${destination.id}" class="radio" /></td>
			
				<td><span th:text="${destination.familyName}"></span><span>　</span><span th:text="${destination.firstName}"></span></td>
				<td th:text="${destination.address}" />
				<td th:text="${destination.telNumber}" />
			</tr>
		</tbody>
			
		</table>
		<div class="buttonArea">
			<button id="deleteButton" th:if="${destinations != null && destinations.size() != 0}">削除</button>
			<button onclick="location.href='/wasabi/destination/'">新規宛先</button> 
			<button type="submit" th:if="${destinations != null && destinations.size() != 0}" id="settlementButton">決済</button>
		</div>
	
	</div>

</main>

<script>
$(() => {
	$('#deleteButton').on('click', () => {
		let checked = $('.radio:checked');
		let destinationId = $(checked).val();
		deleteDestination(destinationId, checked);
	});
	
	$('#settlementButton').on('click', () => {
		let checked = $('.radio:checked');
		let destinationId = $(checked).val();
		settlement(destinationId);
	});
});

function deleteDestination(destinationId, checked) {
	$.ajax({
		type: 'POST',
		url: '/wasabi/destination/delete',
		data: JSON.stringify({'destinationId': destinationId}),
		contentType: 'application/json',
	})
	.then((result) => {
		$(checked).parent().parent().remove();
		let radioList = $('.radio');
		if (radioList.length == 0) {
			location.replace('/wasabi/settlement/');
		}
		radioList[0].checked = true;
	}, () => {
		alert('Error: ajax connection failed.');
	});
}
</script>

</body>
</html>